body{
    background-color: rgb(148, 205, 169);
}
.submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
    color: rgb(255, 255, 255);
    background-color: rgb(87, 49, 34);
}
img{
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}
#msgErro{
    text-align: center;
    color: rgb(255, 0, 34);
}
#Logo{
    height: 40%;
    width: 40%;
    display: block;
    margin-left: -11%;
    margin-top: 1%;
    margin-bottom: 5%;
}
#imgResult{
    height: 10%;
    width: 10%;
    align-items: center;
}